@tailwind base;

@tailwind components;

@tailwind utilities;

.positions {
  bottom: 105px;
  left: -270px;
  right: -270px;
}

.hero-height {
  height: 90vh;
}

.h-40vh {
  height: 95vh;
}

.rounded-br-xl {
  border-bottom-right-radius: 50% 25%;
}

.rounded-bl-xl {
  border-bottom-left-radius: 50% 25%;
}
